@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
main{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
.multimidia-container{
  box-sizing: border-box;
  border: solid 1px white;
  width: 730px;
  height: 500px;
  border-radius: 8px;
  padding: 30px;
}

.multimidia-container .screen-container{
  position: relative;
  border: solid 1px white;
  width: 100%;
  height: 100%;
  
}

.multimidia-container .screen-container .buttons-container{
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  left: -25px;

}
.multimidia-container .screen-container .buttons-container i{
  color: white;
}